@model MenuViewModel

@if (string.IsNullOrWhiteSpace(Model.AreaName) &&
string.IsNullOrWhiteSpace(Model.ControllerName) &&
string.IsNullOrWhiteSpace(Model.ActionName))
{
    <li class="treeview">
        <a href="#">
            @if (!string.IsNullOrWhiteSpace(Model.IconClass))
            {
                <i class="fa @Model.IconClass"></i>
            }
            <span>@Model.MenuName</span>

            @if (Model.MenuViewModels.Any())
            {
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            }
        </a>
        @if (Model.MenuViewModels.Any())
        {
            <ul class="treeview-menu">
                @foreach (var childItem in Model.MenuViewModels.OrderBy(order => order.Sort))
                {
                    @await Html.PartialAsync("_MenuItemPartial", childItem)
                }
            </ul>
        }
    </li>
}
else
{
    <!--li class="active"-->
    <li>
        <a asp-area="@Model.AreaName" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName">
            @if (!string.IsNullOrWhiteSpace(Model.IconClass))
            {
                <i class="fa @Model.IconClass"></i>
            }
            <span>@Model.MenuName</span>
        </a>
    </li>
}