@model Jeans.WebCore.ViewModels.Account.UserViewModel
@{
    ViewData["Title"] = "用户详情";
}

<section class="content-header">
    <h1>
        User Manage
        <small>Detail</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>
<section class="content container-fluid">
    <div class="box box-primary">

        <div class="box-body no-padding">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th style="width:20%">姓名：</th>
                        <td>@(Model.Name)(@Model.EmpNo)</td>
                    </tr>
                    <tr>
                        <th>性别：</th>
                        <td>
                            @if (Model.Sex.ToUpper() == "M")
                            {
                                @:男
                            }
                            else
                            {
                                @:女
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>头像：</th>
                        <td>@Model.ImgUrl</td>
                    </tr>
                    <tr>
                        <th>生日：</th>
                        <td>@Model.Birthday</td>
                    </tr>
                    <tr>
                        <th>国籍：</th>
                        <td>@Model.Nationality</td>
                    </tr>
                    <tr>
                        <th>健康状况：</th>
                        <td>@Model.HealthStatus</td>
                    </tr>
                    <tr>
                        <th>身份证：</th>
                        <td>@Model.Card</td>
                    </tr>
                    <tr>
                        <th>手机号码：</th>
                        <td>@Model.MobilePhone</td>
                    </tr>
                    <tr>
                        <th>办公号码：</th>
                        <td>@Model.OfficePhone</td>
                    </tr>
                    <tr>
                        <th>邮箱：</th>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <th>毕业学校：</th>
                        <td>@Model.School</td>
                    </tr>
                    <tr>
                        <th>文化程度：</th>
                        <td>@Model.Education</td>
                    </tr>
                    <tr>
                        <th>部门：</th>
                        <td>@Model.Department</td>
                    </tr>
                    <tr>
                        <th>处室：</th>
                        <td>@Model.Room</td>
                    </tr>
                    <tr>
                        <th>工作岗位：</th>
                        <td>@Model.Job</td>
                    </tr>
                    <tr>
                        <th>入职时间：</th>
                        <td>@Model.InductionDate</td>
                    </tr>
                    <tr>
                        <th>离职时间：</th>
                        <td>@Model.ResignDate</td>
                    </tr>
                    <tr>
                        <th>工作地点：</th>
                        <td>@Model.JobAddress</td>
                    </tr>
                    <tr>
                        <th>职级：</th>
                        <td>@Model.JobName</td>
                    </tr>
                    <tr>
                        <th>是否使用：</th>
                        <td>
                            @if (Model.IsUsed == 1)
                            {
                                @:是
                            }
                            else
                            {
                                @:否
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>创建人：</th>
                        <td>@Model.CreatePerson</td>
                    </tr>
                    <tr>
                        <th>创建时间：</th>
                        <td>@Model.CreateDate</td>
                    </tr>
                    <tr>
                        <th>修改人：</th>
                        <td>@Model.ModifyPerson</td>
                    </tr>
                    <tr>
                        <th>修改时间：</th>
                        <td>@Model.ModifyDate</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a asp-controller="User" asp-action="List" class="btn btn-default">
                                <i class="fa fa-arrow-left"></i>
                                返回列表
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</section>